main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 199, 123);
    width: 100vw;
    height: 100vh;
}

.dropdown {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}

#full-width {
    background-color: black;
    flex: 1;

}


.dropdown-item-custom {
    display: flex;
    justify-content: space-around;
}

.databox {
    background-color: white;
    display: flex;
    width: 80%;
    margin-top: 20px;
    padding-top: 20px;
    overflow: auto;
    justify-content: center;

}

h3 {
    font-size: 20px;
}

.filterBlock {
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
   
}


