main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; 
    max-height: 100vh;
    overflow-y: auto;
    background-color: rgb(71, 199, 123);

}

.filterPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vh;
}

.dropdown {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}

#full-width {
    background-color: black;
    flex: 1;

}

.filterFullArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.dropdown-item-custom {
    display: flex;
    justify-content: space-around;
}

.databox {
    background-color: white;
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    overflow: auto;
    justify-content: center;

}

h3 {
    font-size: 20px;
}

.filterBlock {
    width: 100%;
    background-color: lightgreen;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
   
}

.right-align {
    text-align: start;
    font-size: 20px;
}

.images {
    background-color: lightgreen;
    width: 25%;
}

.information {
    background-color: white;
    width: 90%;
    margin-top: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
}
