.main-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; 
    max-height: 100vh;
    overflow-y: auto;
    background-color: white;
    padding: 200px;
}

.filterPart {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: right;
    /* width: 185vh; */
    padding: 20px;
    
}
/* .dropdown {
    margin-bottom: 20px;
    width: 100px;
    display: flex;
    color:rgb(235, 249, 235)
} */
/* these are the filter categories ex. names,size,edible, etc */
#full-width {
    background-color: rgb(235, 249, 235);
    color:black;
    flex: 1;
    font-size: 50px;
    text-align: left;
    border:none;
    padding:0;
    
}

/* .filterFullArea {
    display: flex;
    flex-direction: right;
    align-items: left;
    justify-content: right;
} */
.dropdown-item-custom {
    display: flex;
    justify-content: left;
}

/* fixes sizing for text size of Please use the filters to select the data you want. */
.databox {
    background-color: white;
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    overflow: auto;
    justify-content: center;
    font-size: 60px;
}
.filterBlock {
    height: 400px;
    width: 1000px;
    justify-content: right;
    background-color: rgb(235, 249, 235);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border: 2px solid black;
    border-radius: 20px 0px 0px 20px;
    margin: right;  
    padding: 50px;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 25px;
   
}

/* name of filter */
.right-align {
    text-align: start;
    font-size: 35px;
}

 
/* information inside of bottom scroll bar */
.information {
    color: black;
    font-size: 25px;
    padding: 20px;
    text-align: left;
}

/* size of the scroll bar */
.scroll-object1{
    height: 300px;
    background-color:  rgb(235, 249, 235);
    width: 1610px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 20px 0px 0px 20px;
    margin: auto;  
    padding: 20px;
    text-align: left;
    overflow: hidden;
    overflow-y: scroll;
}

/* adjusts page width */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.multi-level, item ul, .nav{
    display: none;


}

#menu:checked ~ .multi-level, .item input:checked ~ ul{
    display: block;
}

/* Arrow */
.arrow{
    width: 12px;
    height: 12px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 17px 1em 0 2em;
}
.item input + .arrow{
    transform: rotate(-90deg);
    transition: 0.1s;

}

.item input:checked + .arrow {
    transform: rotate(0deg);
    transition: 0.1s;
} */


/* using new code for filters */
details {
    user-select: none;
  }
  
  details>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    margin-left:0%;
  }
  
  details[open] summary span.icon {
    transform: rotate(90deg);
    color:green;
  }
  
  summary {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

  .focus-capturer:focus-within .collapsible-content {
    display: block;
}

/* code for slideshow */
.list-options {
    list-style: none;

}

.option-inv {
    text-align: left;
}

.care {
    background-color: green;
    color: white;
    margin: 0;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.container{
    display: flex;
    justify-content: space-evenly;
   
}
