main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; 
    max-height: 100vh;
    overflow-y: auto;
    background-color: rgb(71, 199, 123);
    padding: 20px;
}

.filterPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vh;
    padding: 20px;
}

.dropdown {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    color:rgb(235, 249, 235)
}

#full-width {
    background-color: rgb(235, 249, 235);
    color:black;
    flex: 1;
    text-align: left;
    border:none;
    padding:0;

}

#full-width2{
    background-color: rgb(235, 249, 235);
    color: black;
}

.filterFullArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.dropdown-item-custom {
    display: flex;
    justify-content: left;
}

.databox {
    background-color: white;
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    overflow: auto;
    justify-content: center;

}

/* h3 {
    font-size: 20px;
} */



.filterBlock {
    width: 500px;
    background-color: rgb(235, 249, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    border: 2px solid black;
    border-radius: 20px 0px 0px 20px;
    /* outline: #4CAF50 solid 10px; */
    margin: auto;  
    padding: 50px;
    text-align: center;
   
}

/* .p-border {
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;  
    padding: 20px;
    text-align: center;
  } */

.right-align {
    text-align: start;
    font-size: 20px;
}

#plantimgs img {
    aspect-ratio: 1/1;
    width: 100%;
    height: initial;
}


.information {
    background-color:  rgb(235, 249, 235);
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid black;
    /* outline: #4CAF50 solid 10px; */
    border-radius: 20px 0px 0px 20px;
    margin: auto;  
    padding: 20px;
    text-align: left;
}

.logo-text {
    color: rgb(67, 222, 136);
    padding-right: 10px;
  }
  