.container-custom {
    background-color: white;
    max-height: 100vh;
    overflow-y: auto;
    max-width: 100vw;
    padding: 40px 50px 0 50px;

}

.card-img-top {
    border-radius: 25px;

}

.button-to-plant {
    border: none;
    margin: 0;
    padding: 0;
}

.card-hover {
    position: relative;
}

.card-hover:hover::before {
    content: "";
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }



