.imageIn {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    position: absolute;
    width: 100%;
    z-index: 10;
    background: url('identify_border.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.imageIn > div {
    position: absolute;
    right: 7vw;
    transform: translateY(2.5em) rotate(0);
    width: 4em;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.imageIn.show {
    transform: translateY(0);
}

.imageIn.show > div {
    transform: translateY(0) rotate(180deg);
}

.preview {
    aspect-ratio: 1/1;
    border: 5px solid white;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 1em;
}

.preview > button {
    width: 100%;
    height: 100%;
}

.preview > .addbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: xxx-large;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;
}

.preview > .imgpv {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.preview > .imgtype {
    width: 50%;
    height: auto;
    margin-left: -50%;
    color: white;
}

.load {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

.load.show {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 3em;
    color: white;
}

.result.show {
    opacity: 1;
}