.testing {
    height: 95vh;
    text-align: center;

    margin-left: 20px;
    margin-right: 20px;
}

.return {
    background-color: rgb(142, 188, 142);
    border-radius: 20px;
}

.link {
    color: white;
    text-decoration: none;
}


.text {
    margin-top: 20px;
}

.notfoundphoto{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;

}


  .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    
  }
  
  .error {
    font-size: 5em; 
    color: green;
  }
  
  .text p {
    font-size: 2em; 

  }
  
  #bigger {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
