.testing {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items:start;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.return {
    background-color: rgb(142, 188, 142);
    border-radius: 20px;
}

.link {
    color: white;
    text-decoration: none;
}


.text {
    margin-left: 20px;
}
